@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* VARIABLES */
:root {
    --color-primario: #0C1625;
    --color-secundario: #FFFFFF;
    --color-terciario: #000000;
    --color-destacados: #D5A022;
    --font-primary: "Italianno", cursive;
    --font-secondary: "Helvetica", sans-serif;
    --margenes-texto: 0.2rem 0.4rem;
    --interlineado: 1.4;
    --distancia-iconos: 1rem;
    --tamano-texto-menu: 0.7rem;
    --menu-side-width: clamp(120px, 18vw, 180px);
    --menu-cta-line-height: 1.1;
    --menu-bg-alpha: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: var(--font-secondary);
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
}

body {
    background-color: var(--color-primario);
    
}
body {
    background-color: var(--color-primario);
    font-family: var(--font-secondary);
    color: var(--color-secundario);
    line-height: 1.5;
}

/* TEXTO PRINCIPAL */

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 2rem; 
    margin: 0;
    margin-top: -2000px;
    position: absolute;
    transform: translate(90%, -20%);

}

.container .line{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.14rem;
    margin-bottom: -5px;
   
}

.container .script {
    font-family: var(--font-primary);
    font-size: 8rem; 
    font-weight: normal;
}

.container .bold {
    font-family: var(--font-secondary);
    font-size: 5rem; 
    font-weight: bold;
    line-height: 1.2;
    
}

.container .name {
    display: flex;
    flex-direction: column; 
    line-height: 1.2;
}

.container .last-name {
    margin-left: -1.9rem; 
}


/* FOTO Y DEGRADADO */
.foto-container {
    position: relative;
    width: 450px;   /* ajusta según tu diseño */
    height: 600px;  /* ajusta según tu diseño */
    overflow: hidden;
}
.foto-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,               
        rgba(0, 0, 0, 0.7) 0%,    
        rgba(0, 0, 0, 0.0) 70%    
    );
}






    




