@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

/* VARIABLES */
:root {
    --color-primario: #0C1625;
    --color-secundario: #FFFFFF;
    --color-terciario: #000000;
    --color-destacados: #D5A022;
    --font-primary: "Italianno", cursive;
    --font-secondary: "Helvetica", sans-serif;
    --degradado: linear-gradient(
        to bottom,
        rgba(12, 22, 37, 1) 0%,
        rgba(12, 22, 37, 0.95) 20%,
        rgba(12, 22, 37, 0.75) 40%,
        rgba(12, 22, 37, 0.4) 60%,
        rgba(12, 22, 37, 0) 100%
        );
    --margenes-texto: 0.2rem 0.4rem;
    --interlineado: 1.4;
    --distancia-iconos: 1rem;
    --tamano-texto-menu: 0.7rem;
    --menu-side-width: clamp(120px, 18vw, 180px);
    --menu-cta-line-height: 1.1;
    --menu-bg-alpha: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-secondary);
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
}

body {
    background-color: var(--color-primario);
     overflow-x: hidden;

}
body {
    background-color: var(--color-primario);
    font-family: var(--font-secondary);
    color: var(--color-secundario);
    line-height: 1.5;
}

/* SECCION1 */
.hero {
  height: 100vh;
  background: linear-gradient(#0b1625, #05080f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f2c94c;
  text-align: center;
}

/* BOTON CONSIGUE TUS ENTRADAS */
.hero-btn {
   margin-top: 4rem;
   background: #d8a115;
   color: #000;
   font-weight: 700;
   padding: 14px 30px;
   text-decoration: none;
   font-size: 14px;
   letter-spacing: .5px;
   transition: background .2s, transform .15s;
}
.hero-btn:hover {
  opacity: 0.9;
  box-shadow: 0 4px 20px rgba(255, 255, 100, 0.3);
}




/* SECCION2(VIDEO) */
.video-section {
  height: 80vh; 
  display: flex;
  width: 100vw; 
  justify-content: center;
  overflow: hidden; 
  align-items: center;
}

.video-section video {
  width: 100vw;        
  height: 100%;
  object-fit: cover;
  display: block;
}


/* SECCION3(FOTO) */
.image-section {
  height: 80vh; 
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image-section img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* SECCIÓN4(CARROUSEL) */
.gallery {
  background: #0b1625;
  padding: 80px 20px;
  text-align: center;
  color: white;
}

.gallery h2 {
  font-size: 5rem;
  margin-bottom: 60px;
  line-height: 1.2;
}

.highlight {
  color: #D5A022;
  font-family: var(--font-secondary);
}

.script {
  font-family: var(--font-primary);
  font-style: italic;
  color: #FFFFFF;
}



.coverflow  {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track {
  position: relative;
  width: 600px;
  height: 340px;
}

.track img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 220px;
  object-fit: cover;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  transition: 0.4s ease;
}

.track img.active {
  width: 240px;
  height: 320px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 3;
}

.track img.prev {
  transform: translate(-160%, -50%) scale(0.9);
  opacity: 0.7;
  z-index: 2;
}

.track img.next {
  transform: translate(70%, -50%) scale(0.9);
  opacity: 0.7;
  z-index: 2;
}

.gallery-arrow{
  background: #D5A022;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
}

.gallery-arrow.left {
  left:300px;
}

.gallery-arrow.right {
  right: 300px;
}

.cta {
  background: #D5A022;
  border: none;
  padding: 10px 28px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 40px;
  color: #000;
  
}


/* SECCION4(CURIOSIDADES) */
.Datos-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
}

.datos-title {
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 20px;
}

.title-a {
  font-family: var(--font-secondary);
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
  line-height: 1;
}

.title-b {
  font-family: var(--font-primary);
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
  line-height: 1;
}


.datos-item {
  border-top: 1px solid #ccc;
}

.datos-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px 0;
}

.datos-question .arrow {
  width: 14px;
  height: 14px;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
 transform: rotate(0deg);
  transition: transform 0.3s ease;
  margin-left: 20px; /* espacio normal, no 600px */
}

.datos-question span:first-child {
  flex: 1;
}

.datos-question:hover {
  background-color: #D5A022;
}

.datos-question.active .arrow {
  transform: rotate(-135deg);
}


.datos-answer {
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.3s ease;
   padding: 0 4px;
   font-size: 0.80rem;
   color: #ffffff;
   font-family: var(--font-secondary);
} 

.datos-question.active + .datos-answer {
  padding: 20px 4px 30px; 
  max-height: 500px;      
}



/* SECCION5(EXPLORA) */

.explora {
  padding: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: left;
  margin-top: 100px;
}


.explora h1 {
  grid-column: 1 / -1;   
  text-align: center;   
  margin-bottom: 40px; 
  color: #0C1625; 
  font-size: 5rem;
  margin-top: 60px;
}

.explora h1 span {
  font-family: serif;
  color: #d4a017;
  font-style: italic;
  display: block;
  font-size: 5rem;
   margin-top: -50px;

}

.secciones {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

}
.secciones a:first-child {
  border-top: 3px solid #0C1625;
}


.item-galeria {
  width: 100%;
  padding: 25px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #0C1625;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease;
}

.item-galeria:hover {
  opacity: 0.7; 
}


.item-galeria h2 {
  margin: 0;
  color: #0C1625;
  font-size: 1.8rem;
}

.item-galeria p {
  margin: 5px 0 0;
  color: #0C1625;
  font-family: var(--font-secondary);
  font-size: 0.9rem;
  font-weight: 100;
}


.secciones-arrow {
  width: 18px;
  height: 18px;
  display: inline-block;

   
  
  margin-left: 0px; 
  margin-top: -4px; 
  border-right: 3px solid #D5A022;
  border-bottom: 3px solid #D5A022;
  transform: rotate(-45deg);
  background: none;
  border-radius: 0;
  box-shadow: none;

  transition: transform 0.3s ease;
}

.item-galeria {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}






.item.galeria::before {
  background-image: url('../css/media/img/lanocheestrellada.webp');
}

.item.visita::before {
  background-image: url('ruta/a/tu-imagen-visita.jpg');
}
.item.tienda::before {
  background-image: url('ruta/a/tu-imagen-tienda.jpg');
}
.item:hover::before {
  opacity: 1;
}


/* RESPONSIVE */



/* VIDEO */
/* Móviles */
@media (max-width: 600px) {
  .video-section {
    height: 50vh;
  }

  .video-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* FOTO */

/* Móviles */
@media (max-width: 600px) {
  .image-section {
    height: 50vh;
  }
}


/* CARRUSSEL */

@media (max-width: 600px) {
  .gallery h2 {
    font-size: 2.8rem;
  }

    .track {
    width: 320px;
    height: 220px;
  }

  .track img {
    width: 110px;
    height: 150px;
  }

  .track img.active {
    width: 160px;
    height: 210px;
  }

  .gallery-arrow {
    width: 36px;
    height: 36px;
    font-size: 20px;
  }

  .gallery-arrow.left {
    left: 30px;
  }

  .gallery-arrow.right {
    right: 20px;
  }
}

/* DATOS CURIOSOS */

@media (max-width: 600px) {
  .Datos-container {
    padding: 0 30px;
  }

  .title-a,
  .title-b {
    font-size: 2.8rem;
  }

  .datos-question {
    padding: 14px 0;
  }

  .datos-question span:first-child {
    font-size: 1rem;
  }

  .datos-question .arrow {
    width: 10px;
    height: 10px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    margin-left: 12px;
  }

  .datos-answer {
    font-size: 0.85rem;
    line-height: 1.7;
  }
}

/* EXPLORA EL MUSEO */


@media (max-width: 600px) {
  .explora {
    padding: 40px 25px;
    margin-top: 60px;
  }

  .explora h1 {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .explora h1 span {
    font-size: 3rem;
    margin-top: -25px;
  }

  .secciones {
    gap: 20px;
  }

  .item-galeria {
    padding: 18px 0;
  }

  .item-galeria h2 {
    font-size: 1.4rem;
  }

  .item-galeria p {
    font-size: 0.85rem;
  }

  .secciones-arrow {
    width: 14px;
    height: 14px;
    border-right-width: 2px;
    border-bottom-width: 2px;
  }
}





